form {
  display: flex;
  flex-direction: column;
}

textarea#tweet-text, textarea#tweet-text:focus {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 4px solid #545149;
  margin-bottom: 15px;
  padding: 0;
  outline: none;
  font-weight: bold;
  line-height: 0.8;
  resize: none;
}

div#button-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

button {
  font-family: 'Bungee', cursive;
  color: white;
  border: none;
  background-color: #4056A1;
  padding: 3px 8px;
  cursor: pointer;
}

.new-tweet {
  margin-bottom: 60px;
}